.list {
    /* display: flex;
    flex-direction: column;
    gap: 1rem; */
  }
  
  .list a {
    display: flex;
    text-decoration: none;
    gap: .5rem;
    align-items: center;
    /* color: var(--color-primary-400); */
  }
  
  .list a:hover,
  .list a.active {
    /* color: var(--color-primary-800); */
  }
  .sidebar {
    position: fixed;
    /* top:60px; */
    left:0;
    bottom:0;
    width:212px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20ps;
    overflow-y:auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    /* box-shadow: 0 0 20px rgba(1, 41, 112, 0.1);
    background-color: #fff; */
}

@media(max-width:1199px){
    .sidebar{
        left: -240px;
    }
}

.sideBar::-webkit-scrollbar{
    width:5px;
    height: 8px;
    background-color: #fff;
}

.sideBar::-webkit-scrollbar-thumb{
    background-color: #aab7cf;
}
@media(min-width: 1200px){
    #main,
    #footer{
        margin-left: 240px;
    }
    .toggle-sidebar #main,
    .toggle-sidebar #footer{
        margin-left:0
    }

    .toggle-sidebar .sidebar{
        left: -2400px;
    }
}

@media(max-width: 1199px){
    .toggle-sidebar .sidebar{
        left:0;
    }
}